/* crossing */

@keyframes wave {
    0%, 40%, 100% { transform: scaleY(0.4); }
    20% { transform: scaleY(1.0); }
}


@keyframes appear {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}

@keyframes disappear {
  0% {transform: scale(1);}
  100% {transform: scale(0);}
}

.crossing-wrapper {
  position: relative;
  max-width: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.dropzone{
  margin: 1rem;
  min-width: 400px;
  min-height:150px;
  border:2px dashed rgba(167, 12, 12, 0.3);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0,0,0,0.03);
  padding: 23px;
}

.btn-secondary {
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: white;
}