extends layout
block header
    link(rel="stylesheet", href="/stylesheets/dropzone.min.css")
    link(rel='stylesheet', href='/stylesheets/crossing.css')

block content
    .grid-wrapper
        .grid-header
            .grid-title
                h1
                    strong fuzz-tx
                p a tool for crossing time-series data sets (csv)

        .grid-content
            .crossing
                .crossing-wrapper
                    form(id="uploads" enctype="multipart/form-data").dropzone
                        .dz-message Drop (csv) files here to upload
                    button(id="cross-files").btn.btn-secondary Cross Files

        .grid-footer
            div
                p.grid-footer-title 2020 © Sharemiale

block scripts
    script(src="javascripts/dropzone.min.js")
    script(src="javascripts/crossing.js")
    